.centered {text-align: center}
.shadow {box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.75)}
.layout {display: block; margin: auto}
.command-bar {display: block; margin: auto}
.card-title {font-size: 17px; color: dodgerblue}
.card-footer {padding: 15px}
.pad15 {padding: 15px}
.header {font-size: 1.5em; font-weight: bold}
.subheader {font-size: 12px; color: darkgray}

/* Media queries -------------------------------------------------------------------- */

@media (min-width: 720px) {
  .command-bar {
    max-width: 100% !important;
  }
}
@media (min-width: 720px) {
  .command-bar {
    max-width: 80% !important;
  }
}
@media (min-width: 720px) {
  .layout {
    min-width: 80% !important
  }
}
@media (max-width: 720px) {
  .layout {
    min-width: 100% !important
  }
}

/* Scrollbars ------------------------------------------------------------------------- */

body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-face-color: darkgrey;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}
::-webkit-scrollbar {width: 5px; height: 3px}
::-webkit-scrollbar-button {background-color: darkgrey}
::-webkit-scrollbar-track {background-color: lightgrey}
::-webkit-scrollbar-track-piece {background-color: lightgrey}
::-webkit-scrollbar-thumb {height: 50px; background-color: darkgrey; border-radius: 3px}
::-webkit-scrollbar-corner {background-color: #999}
::-webkit-resizer {background-color: #666}
